<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button class="bkbtn"></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">

  <div align="center">
    <br><br><br>
    <img src="../assets/icon/logo.png" width="250px" height="100px">
  </div>

  <ion-slides pager="true"> 
    <ion-slide>
      <img src="../assets/icon/spots.png">
      <ion-button expand="block" (click)="R_spots()">Detecciones</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/transmisiones.png">
      <ion-button expand="block" (click)="R_transmisiones()">Transmisiones</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/streams.png">
      <ion-button expand="block" (click)="R_streams()">Streams</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/contratos.png">
      <ion-button expand="block" (click)="R_contratos()">Contratos</ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-toolbar">
    <ion-text>
      <p align="center">Versión {{versionFront}}</p>
    </ion-text>
  </ion-toolbar>
</ion-footer>


