<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-buttons id="btn-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>
      Home
    </ion-title> -->
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <div align="center">
    <br>
    <br>
    <br>
    <br>
   
    <br>
    <img src="../assets/icon/logo.png" width="250px" height="100px">
  </div>
 
  <ion-slides pager="true"> 


    <ion-slide>
      <img src="../assets/icon/spots.png">
      <ion-button (click)="R_spots()" expand="block">Detecciones</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/transmisiones.png">
      <ion-button expand="block">Transmisiones</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/streams.png">
      <ion-button (click)="R_streams()" expand="block">Streams</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="../assets/icon/contratos.png">
      <ion-button expand="block">Contratos</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
