.custom-heading {
    font-family: 'Caprasimo', cursive;
 
  }
  
ion-toolbar{
    background-color: transparent;
    --opacity: 5%;  
}

 ion-button{        
    margin-top: 20px;
    --background: #274662;
    --background-activated: #ffffff;
    color:#ffffff ;

    margin-bottom: 30px;
}

ion-slide{
  display:block;

}