<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item (click)="touch(0)" (onseeking)="doubleClick()">
    <video id='video' width=490 height=295 (timeupdate)="recorte()"  src="" type="video/mp4" (onseeking)="doubleClick()" ></video>   
  </ion-item>

  <ion-list lines="full">
   
    <ion-item>
      <ion-label id="ref">Referencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="date">Fecha</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="start">Inicio de deteccion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="end">Fin de deteccion</ion-label>
    </ion-item>
 
  </ion-list>
  <div class="wrapper">
 <div class="ion-activatable ripple-parent"(click)="full()" color="tertiary">
Full
    <ion-ripple-effect class="custom-ripple" ></ion-ripple-effect>

  </div>
</div>

</ion-content>
