<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >



  <ion-item (click)="touch(0)">
    <video id='video' width=490 height=295 (timeupdate)="recorte()"  src="" type="video/mp4"></video>   
  </ion-item>

  <ion-list [inset]="true">
   
    <ion-item>
      <ion-label id="ref">Referencia</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="date">Fecha</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="start">Inicio de deteccion</ion-label>
    </ion-item>
    <ion-item>
      <ion-label id="end">Fin de deteccion</ion-label>
    </ion-item>
 
  </ion-list>
</ion-content>
