// ion-toolbar{
//     background-color: transparent;
//     --opacity: 5%;  
//     }
    
    ion-content{
      --ion-background-color: white;
    }  

    ion-item{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
       
        color: #0098d8;
        --border-color: #0098d8;
        --border-style: solid;
        --border-width: 2px;
      
        --border-radius: 20px;
      
        
        font-size: 18px;
      
        ion-label{       
            color: #000000;
        }
        
      
      }

      video::-webkit-media-controls-timeline {
        display: none;
     }
   video::-webkit-media-controls-current-time-display{
        display: none;
     }
     video::-webkit-media-controls-time-remaining-display {
       display:none;
     }
  

