ion-item{
    padding-right: 5%;
    padding-top: 30px;
    color: #d75928;
    --border-color: #d75928;
    font-size: 18px;
    --highlight-color-focused: #274662;
    
    ion-input{       
        color: #061fff;
        
    }
}    

ion-button{        
    margin-top: 20px;
    --background: #274662;
    --background-activated: #ffffff;
    color:#ffffff ;
}

.wrapform{
    margin-top: 10px;
}

ion-text{
    font-size: 10px;
    text-align: center;

}


ion-footer{
    position: absolute;
}

.password{
    position: relative;
    width: 250px;
}
    
$colors: (
    gray: #ccc
);

.round-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #274662;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 999; /* Ajusta la posición z si es necesario */
  }

  .round-button ion-icon {
    font-size: 50px; /* Tamaño del icono */
  }
  
  .round-button:hover {
    background-color: #274662;
  }
  

