<br>
<br>
<br>
<ion-content>
  <br>
  <br>
  <br>

  <div align="center">
    <img src="../assets/icon/logo.png" width="200px" height="150px">
  </div>
  <br>
  <br>
  <br>

 
  <ion-item>
    <ion-label position="floating">User</ion-label>
    <ion-input placeholder="User" id="UserName" color="primary"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" placeholder="Password" id="Password"></ion-input>
  </ion-item>

  <div id="Preloader" align="center" style="display: none;">
    <img src="../assets/icon/preloader.gif" alt="validando...">
  </div>


  <ion-button expand="block" id="ButtonLogin" (click)="Login()">Login</ion-button>



</ion-content>
