ion-searchbar {
    padding-top: 12px;
    --background: #ffffff;
    --color: #000000;
    --placeholder-color: #000000;
    --icon-color: #000000;
    --clear-button-color: #000000; 
    
}

ion-toolbar{      
    background-color: #d75928;
    --opacity: 5%;
    }

ion-item{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    
    color: #274662;
    --border-color: #274662;
    --border-style: solid;
    --border-width: 2px;
    
    --border-radius: 20px;
    
    
    font-size: 18px;
    
    ion-label{       
        color: #000000;
    }
    
}

ion-title{
    color: #000000;
}

ion-button{
    --opacity: 100%;
    color: #000000;
}

ion-content {
    
    background: var(–ion-toolbar-background, var(–ion-background-color, #f4f5f8)) !important;
    overflow: auto;
    
    &::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    }
    
    &::-webkit-scrollbar-track {
    background: #fff;
    }
    
    &::-webkit-scrollbar-track:hover {
    background: #f7f7f7;
    }
    
    &::-webkit-scrollbar-thumb {
    background: #ccc;
    }
    
    &::-webkit-scrollbar-thumb:hover {
    background: #94173a
    }
    
    .inner-scroll {
    scrollbar-width: thin;
    }
    }
    
    