<div *ngIf="selected6.length; else placeholderP">
    <span *ngFor="let item of selected6; let last = last">
      {{ item.Name}}{{ last ? "" : ", "}}
    </span>
  </div>
  
  <ng-template id="placeholderP" #placeholderP>Select</ng-template>
  
  <ion-modal [isOpen]="isOpen6"> 
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary" >
          <ion-buttons slot="start">
            <ion-button (click)="cancel6()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Canales</ion-title>
          <ion-buttons slot="end" *ngIf="multiple">
            <ion-button (click)="select6()">Select</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar  (ionChange)="filter6($any($event))"></ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item *ngFor="let item of filtered6">
          <ion-checkbox slot="start" [(ngModel)]="item.selected" (ionChange)="itemSelected6()"></ion-checkbox>
          <ion-label> {{item.Name}}</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>  
  </ion-modal> 
  
  