
ion-title{
    text-align: center;
  
  }
  
  ion-toolbar{
  background-color: transparent;
  --opacity: 5%;  
  }
  
  ion-content{
    --ion-background-color: white;
  }
  
  .searchable{
    color: #000000;
  }
  
  ion-button{        
    width: 100%;
    margin-top: 15px;
    --background: #274662;
    --background-activated: #ffffff;
    color:#ffffff ;
  }
  
  .bnt-menu{
  
    background-color: #a9cd19;
  }

  ion-label{

    font-size: 20px;
  }

  ion-header {
    background: transparent;
    ion-item {
      --background: transparent;
      ion-avatar {
        background: white;
      }
    }
  }
  
  



  .footer-toolbar {
    font-size: 12px;
    position: sticky;
    bottom: 0;
  }