<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-buttons id="btn-menu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-toolbar>
      <ion-text>
        <p align="center">Versión 1.1.5</p>
      </ion-text>
    </ion-toolbar>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >

  <br>

  
  <div id="filtroStream">

     <!-- <ion-searchbar show-clear-button="focus" placeholder="Ejemplo: Cancún" [debounce]="1000" (ionChange)="handleInput($any($event))"></ion-searchbar> -->

     <ion-item *ngFor="let item of streams">
      <ion-button shape="round" expand="full" size="default" (click)="botonbuscarStream(item.stream)"> {{item.Name_plaza}}</ion-button>
     </ion-item>

  </div>
  
    
  
</ion-content>


