<ion-header collapse="fade">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transmisiones
    </ion-title>
  </ion-toolbar>




  <ion-content [fullscreen]="true">
    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </ion-fab-button>
   

        
        
        <ion-fab-button>
      
          <ion-icon name="expand-sharp" (click)="full()"></ion-icon>
        </ion-fab-button>
   
       
    
    </ion-fab>
    <br>
    <ion-item (click)="touch(0)" (onseeking)="doubleClick()">
      <video id='video' width=490 height=295   src="" type="video/mp4" (onseeking)="doubleClick()" ></video>   
    </ion-item>
 
     
    
   
  
  </ion-content>