<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item (click)="select.open()" color="primary" > 
    <ion-label>Select Plaza</ion-label>
    <app-searchable-select
    title="Select Plaza"
    [data]="locations" 
    itemTextField = "Plaza"  
    [multiple] = "true"  
    #select
    (selectChanged)="selectChanged($event)"
     ></app-searchable-select>
  </ion-item>
</ion-content>


