<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <strong>Welcome</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
       href="https://ionicframework.com/docs/components">
       UI
        Components</a></p>

        <ion-item>
          <ion-input type="text" color="primary" aria-placeholder="Name" id="HomeFirstName">

          </ion-input>


        </ion-item>
    
  </div>
</ion-content>


